{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": "eslint-config-airbnb-base",
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "rules": {
        "no-loop-func" : 0
    }
}