* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    width: 100%;
}
.main-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    @include media-laptop {
        max-width: 1060px;
    }
    @include media-tablet {
        max-width: 680px;
    }
    @include media-mobile {
      max-width: 440px;
    }
}

button, 
button:active, 
button:focus,
textarea:active,
textarea:focus,
input:active,
input:focus {
    outline: none;
}

.info {
    height: 40px;
    margin: 0;
    padding: 0 10px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: crimson;
    @include media-mobile_small {
        margin-bottom: 80px;
    }
}
