.footer {
    width: 100%;
    min-height: 60px;
    background: $color-background;
    margin-top: 40px;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        min-height: 60px;
        max-width: 1440px;
        margin: 0 auto;
        @include media-laptop {
            max-width: 1060px;
        }
        @include media-tablet {
            max-width: 680px;
        }
        @include media-mobile {
            max-width: 440px;
        }
        @include media-mobile_small {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 120px;
        }
    }
}

.contact-link {
    color: #eee;
    text-decoration: none;
    display: flex;
    align-items: center;
    &:hover {
        color: crimson;
    }
    & .github-ico {
        display: inline-block;
        width: 40px;
        height: 45px;
        background-image: url(../assets/icon/github_icon.png);
        background-position: center;
        background-repeat: no-repeat;
    } 
}