.search-form {
    width: 100%;
    position: relative;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    @include media-mobile_small {
       flex-direction: column;
       padding: 0 50px;
    }
}

.form-element {
    height: 45px;
    border-radius: 5px;
    display: block;
    font-weight: 400;
}

.search-input {
    width: calc(100% - 100px);
    max-width: 1350px;
    background: url(../assets/icon/search.png);
    background-repeat: no-repeat;
    background-size: 34px;
    background-position: 10px 5px;
    border: 1px solid rgb(206, 212, 218);
    color: rgb(123, 138, 139);
    cursor: text;
    font-size: 22px;
    padding-left: 50px;
    padding-right: 130px;
    @include media-tablet {
        padding-right: 100px;
    }
    @include media-mobile_small {
        width: 100%;
        padding-left: 10px;
        padding-right: 33px;
        background-image: none;
        margin-bottom: 20px;
    }
}

.search-button {
    width: 100px;
    background: crimson;
    border: 1px solid crimson;
    color: #fff;
    cursor: pointer;
    transition: 0.1s;
    font-size: 20px;
    @include media-mobile_small {
        width: 100%;
        min-height: 44px
    }
    &:hover {
        
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    &:focus {
        transform: scale(0.9);
    }
}

.clear-button {
    position: absolute;
    width: 40px;
    height: 45px;
    background-image: url(../assets/icon/clear.png);
    background-position: center;
    background-repeat: no-repeat;
    right: 200px;
    cursor: pointer;
    @include media-tablet {
        right: 108px;
    }
    @include media-mobile_small {
       display: none;
    }
}

.micro-button {
    position: absolute;
    width: 40px;
    height: 45px;
    background: violet;
    right: 160px;
   // background-position-x: center;
   // background-position-y: 6px;
    //background-repeat: no-repeat;
    cursor: pointer;
    @include media-mobile_small {
        right: 48px;
    }
}

.microphone-active {
    background: red;
}

.keyboard-button {
    position: absolute;
    width: 40px;
    height: 45px;
    background-image: url(../assets/icon/keyboard.png);
    right: 120px;
    background-position-x: center;
    background-position-y: 6px;
    background-repeat: no-repeat;
    cursor: pointer;
    @include media-tablet {
        display: none;
    }
}