.swiper-container {
@include media-mobile {
    max-width: 300px;
    margin: 0 auto;
}
}

.swiper-wrapper {
    width: 100%;
    height: 600px;
    margin-bottom: 50px;
}

.card {
    width: 300px !important;
    border: 0;
    margin: 10px 0px;  
    overflow: hidden;
}

.card-header {
    display: block;
    height: 43px;
    margin-bottom: 15px;
    overflow: hidden;
    background-color: #fff;
    text-overflow: ellipsis;
    color: #000;
    text-align: center;
    font-size: 24px;
    padding: 15px;
    white-space: pre-wrap; 
    text-decoration: none;
    &:hover {
    color: crimson;
    }
}

.card-body {
    height: 445px;
    background-size: cover;
}

.card-footer {
    color: #000;
    background-color: #fff;
    align-items: center;
    padding: 15px;
    padding-bottom: 5px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.card-imbd {
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
}

.card-imbd span {
    position: relative;
    padding-left: 10px;
}

.card-imbd span::before {
    content: "";
    position: absolute;
    background-image: url(/img/star.svg);
    width: 24px;
    height: 24px;
    top: -2px;
    left: -25px;
}

.starIcon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../assets/icon/star.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}