.slider {
    position: relative;
}

.swiper-container {
    width: calc(100% - 110px);
    @include media-mobile {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
}

.swiper-wrapper {
    height: 600px;
    margin-bottom: 50px;
    user-select: none;
}

.swiper-slide {
    display: flex;
    justify-content: space-evenly;
    min-width: 250px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    max-height: 91%;
}

.card-header {
    width: 100%;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
    text-align: center;
    font-size: 24px;
    padding: 15px;
    text-decoration: none;
    &:hover {
        color: crimson;
        text-decoration: underline;
    }
}

.card-body {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    height: 445px;
    object-fit: cover;
    border: 0;
}

.card-footer {
    color: #000;
    align-items: center;
    padding: 15px;
    padding-bottom: 5px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}



.starIcon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../assets/icon/star.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-button-prev,.swiper-button-next {
    @include media-mobile {
        display: none;
    }
}